@font-face{
    font-family: Roboto;
    src: url('fonts/roboto/Roboto-BoldCondensed.ttf')
}
body {
	font-family: Roboto;
}
a {
	color: #1454D5;
}
h1, h2, h3 {
	text-align: inherit;
	color: DarkGrey;
}
.key {
	color:black;
}
.realText {
	text-align: justify;
	margin-right: inherit;
	margin-left: inherit;
	max-width: 500px;
	min-width: 100px;
	height: inherit;
	min-height: inherit;
}
.center {
	text-align: inherit;

}



