
@font-face{
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css?family=Roboto')
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 50px;
	font-weight: normal;
}
a {
	color: #00a55e;
	text-decoration: none;
}
h1, h2, h3 {
	text-align: inherit;
	color: black;
	font-weight: bold;
	
}
strong{
    font-size: 18px;
}
.key {
	color:#252525;
}
.realText {
	text-align: justify;
	margin-right: inherit;
	margin-left: inherit;
	max-width: 500px;
	min-width: 100px;
	height: inherit;
	min-height: inherit;
}
.center {
	text-align: inherit;

}



